form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
label{
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    width: 280px;
    height: 30px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error{
    color: red;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.inputvalid{
    border: 2px solid red;
}